.donut__icon {
  & * {
    position: absolute;  
    padding: 2px;
    background: var(--destructive);
    border-radius: 100px;
    bottom: 1px;
    right: 1px;
    z-index: 3;
    color: var(--white);
  }
}