@import 
'./components/FirstAndLastName', 
'./components/Avatar',
'./components/MenuCards',
'./components/Subscribe',
'./components/Gift',
'./components/Menu';

.user {
  & .vkuiGroup__inner {
    padding-bottom: 0 !important;
  }
  
  & .user-container__name-and-avatar {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  & .user-container__separator {
    margin: 8px 0;
  }
}