@import "@vkontakte/vkui/dist/vkui.css", "./Loaders/Index", "./Home/Index",
  "./Casino/Index", "./Gift";

// dev
::-webkit-scrollbar {
  width: 0;
}

// prod

.Header__content {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dell_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Gallery {
  cursor: default;
  & * {
    cursor: default;
  }
  & .Button {
    cursor: pointer;
    & * {
      cursor: pointer;
    }
  }
}

.placeholder__card_style {
  overflow: hidden;
  & .placeholder__card_style__button {
    margin-top: 8px;
  }
}

.placeholder_paddings {
  padding-top: 0;
}