.TransferUser-btn__margin {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.TransferUser-container__button {
  border-radius: 10000px;
  padding: 0;

  & .vkuiButton__content {
    padding: 0;
  }
}
