.FLoaderAnimation__container {
  opacity: 0.9;
  position: absolute;
  width: 100vw;
  bottom: calc((50vh - 60px) + var(--safe-area-inset-bottom));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .FLoaderAnimation__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    background: var(--white);
    animation: animIconLoader 2.5s ease-in-out 300ms infinite;

    & * {
      color: var(--destructive);
    }
  }
}
